@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
.App {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}
.d-flex{
  width: 70%;
  margin: 150px auto;
}
.cards {
  display: flex;
  justify-content: space-around;
}
.form {
  width: 80%;
  margin: 120px auto;
}
.link {
  margin-right: 10px;
  text-decoration: none;
  color: white;
}